.input {
  display: flex;
  align-items: center;
}

.input label {
  font-weight: bold;
  margin-right: 1rem;
}

.input input {
  width: 3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding: 0.4rem 0 0.4rem 0.8rem ;
}
